:root {
  --main-green: #1E732C;
  --friendly-green: #00AD5A;
  --background: #EBDFD7;
  --background-shadows: #FFFFFF34;
  --cold-background: #F0FFF8;
  --main-text: #292D32;
  --lower-text: #828282;
  --blue-text: #092C4C;
  --eg-text: #7E92A2;
  --button-text: #FFFFFF;
  --exit-button: #7E92A2;
  --main-red: #EE201C;
  --background-red: #F48C89;
  --main-orange: #E65F2B;
  --background-orange: #F0AB90;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; /* Change to column layout */
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  font-size: large;
}

h1 {
  color: var(--friendly-green);
  font-family: Inter;
  font-size: 2rem;
  margin-left: 10px; /* Add margin to the left of h1 */
}

.user-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.user-dados {
  padding: 1rem;
}

.user-linha {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.titulo {
  position: unset;
}

#ModalGatos {
  width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
    background-color: #00ad5a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}



#tableElements {
  background: #f0fff880;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Inter;
  font-size: medium;
  font-weight: 400;
  border-radius: 14px;
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}


