/* styles.css */

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo mais escuro */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 0; /* Inicia transparente para a transição */
    visibility: hidden; /* Inicia escondido para a transição */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Adiciona uma transição suave */
}

.loading-container p {
    font-size: 50px;
    color: white; /* Cor do texto */
}

.loading-container.active {
    opacity: 1; /* Torna visível durante a transição */
    visibility: visible; /* Torna visível durante a transição */
}
