/* Sidebar container */
.sidebar {
    width: 260px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1E732C;
    color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    padding: 2rem 3rem;
    z-index: 1;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btnSidebar {
    display: flex;
    margin-top: 5rem;
    margin: 1rem 0 0 0;
    border-radius: 24px;
    color: black;
    background-color: #fff;
    padding: 5px, 20px, 5px, 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    align-items:center;
    justify-content: center;
  }
  
  .btnSidebar2 {
    display: flex;
    margin: 2.2rem 0 0 0;
    border-radius: 24px;
    color: #da5406;
    background-color: #fff;
    padding: 5px, 20px, 5px, 7px;
    font-family: sans-serif;
    font-size: 15px;
    align-items: center;
    justify-content: center;
  
  }
  
  .burgerContainer {
    content: "";
    background-color: #fff;
    position: absolute;
    right: calc(-35px / 2);
    top: calc(4rem /1.15);
    width: 30px;
    height: 30px;
    border-radius: 17px;
    z-index: 1;
    align-items: center;
  }
  
  .contentsContainer {
    margin: 0.7rem 0 0;
  }
  
  ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0.6rem 0;
    padding: 0.25rem 0;
    border-radius: 1rem;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 1rem;
  }