:root {
  --main-green: #1e732c;
  --friendly-green: #00ad5a;
  --background: #ebdfd7;
  --background-shadows: #ffffff34;
  --modal-background: rgba(41, 45, 50, 0.9);
  --cold-background: #f0fff8;
  --main-text: #292d32;
  --lower-text: #828282;
  --blue-text: #092c4c;
  --eg-text: #7e92a2;
  --button-text: #ffffff;
  --exit-button: #7e92a2;
  --main-red: #ee201c;
  --background-red: #f48c89;
  --main-orange: #e65f2b;
  --background-orange: #f0ab90;
}

/* Sidebar container */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--main-green);
  color: var(--background);
  overflow-x: hidden;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 30px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.botoes {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btnSidebar {
  display: flex;
  border-radius: 24px;
  color: var(--friendly-green);
  background-color: var(--background);
  padding: 5px, 20px, 5px, 7px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin: 0 30px;
}

.btnSidebar2 {
  display: flex;
  border-radius: 24px;
  gap: 4px;
  color: #da5406;
  background-color: var(--background);
  padding: 5px, 20px, 5px, 7px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  margin: 20px 30px;
}

.btnSair {
  display: flex;
  border-radius: 24px;
  color: black;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  margin: 20px 30px;
}

.burgerContainer {
  content: "";
  background-color: #fff;
  right: calc(-35px / 2);
  top: calc(4rem / 1.15);
  width: 30px;
  height: 30px;
  border-radius: 17px;
  z-index: 1;
  align-items: center;
}

.contentsContainer {
  margin: 0 30px;
  flex-grow: 1;
  overflow: auto;
}

ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0.6rem 0;
  padding: 0.25rem 0;
  border-radius: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 1rem;
}
